@Model Escuela 
@{
    ViewData["Title"] = "Informacion escuela";
    Layout = "_Layout";//Puede usar otros si los creo
}

<div class="text-center">

    <h1>Modo 1:</h1>
    <h2>Escuela:@ViewData["Title"]</h2>
    <h2>Nombre:@Model.Nombre</h2>
    <h3>tipo escuela:@Model.TipoEscuela</h3>
    <address>
        <p>Dirección:@Model.Dirección</p>
        <p>País:@Model.Pais</p>
        <p>Ciudad:@Model.Ciudad</p>
    </address>
    <p><strong>Año:@Model.AñoDeCreación</strong></p>

</div>
